body{
    background-color:#87CEEB;
    font: normal 20pt Arial;
}
header, body{
    text-align: center;
    color: white;
}
section{
    width: 50%;
    margin: 0 auto;
    background-color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 10px gray;
    padding: 40px;
    text-align: center;
}
input{
    width: 50%;
   
}
.label{
    width: 10%;
    background-color: lightgray;
    border-radius: 5px;
}
.box{
    display: inline-block;
    padding: 100px;
    margin-top: 40px;
    width: 40%;
    background-color: black;
    border-radius: 100px;
}